/* universel selctor */
* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  box-sizing: border-box;
}
body {
  background-image: url(./img/g_bg.jpg);
}

#hobbies ul {
  list-style: none;
}
/* id selector for navigation bar */
#Nav-Bar {
  width: 10vw;
  height: 100vh;
  background-color: rgba(
    68,
    71,
    90,
    0.5
  ); /*rgba color  code a = alpha lvl(opacity)*/
  padding: 5px;
  padding: 5px;
  min-width: 110px;
}
#menu img {
  width: 10rem;
  height: 10rem;
  border-radius: 100px;
}
#menu {
  display: block;
  text-align: center;
}
#menu h1 {
  font-size: 3em;
  font-family: "Rajdhani", sans-serif;
}
#menu img {
  margin-top: 5rem;
}
/* navigation bar menu items class selectors */
.Nav-List {
  text-align: center;
  display: inline;
}
.Nav-List a {
  text-decoration: none;
  display: flex;
  margin: 5rem 0 5rem 0;
}

.Nav-List h2 {
  font-size: 1.5rem;
  font-family: "Lucida Console";
  color: #50fa7b;
}
.Nav-List img {
  width: 3rem;
  height: 3rem;
}
/* Main grid box */
#grid-box {
  display: grid;
  grid-template-columns: 10vw 90vw;
  grid-template-rows: 100vh;
  grid-column-gap: 50px;
}
/* grid for image and paragraph */
#container {
  height: 85vh;
  margin: auto auto;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 55vw;
  padding: 2px;
  background-color: rgba(240, 248, 255, 0.5);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 75% 25%;
}
#paragraph {
  font-size: 2rem;
  font-family: "Balsamiq Sans", cursive;
  text-align: center;
}
/* id selector for image  */
#picture img {
  width: 60%;
  height: 80%;
  position: relative;
  left: 150px;
  margin: auto;
  bottom: -20px;
  border-radius: 5px;
}
